.logo-box {
  display: inline-block;
  padding: 12px 18px;
  background: white;
  border-radius: 12px;
  margin-bottom: 10px;
}

.logo-box img {
  width: 80px;
}

header {
  background: linear-gradient(135deg, #111, #2a2a2a);
  color: white;
  text-align: center;
  padding: 25px 20px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f5f5f5;
}

.download-btn {
  background: #6f4e37; /* coffee brown */
}

.download-btn:hover {
  background: #5a3e2b;
}

.menu-container {
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

@media (max-width: 600px) {
  iframe {
    height: 70vh;
  }

  header h1 {
    font-size: 20px;
  }
}

footer {
  background: #eee;
  margin-top: 30px;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  background-image:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("bg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu-container {
  background: rgba(255,255,255,0.85);
}
